$slideout-width: calc(100% - 100px);

#drawer {
  background: snow;
  font-size: 1.5em;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: -100%;
  width: $slideout-width;
  @extend .box-shadow;
  
  .drawer__header, .drawer__content { padding: 25px 50px; }
  
  .drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h2 { margin: 0; }
    
    .close {
      @extend .btn;
      display: inline;
      line-height: 1em;
    }
  }
  
  
  &.on {
    animation: slideIn .5s ease-in-out both;
  }
  
  &.off {
    animation: slideOut .5s ease-in-out both;
  }
}


// ============================= /
//
// Keyframes.
//
// ============================= /

@keyframes slideIn {
  0%   { left: -100%; }
  100% { left: 0; }
}
@keyframes slideOut {
  0%   { left: 0; }
  100% { left: -100%; }
}

// ============================= /
//
// Cosmetic.
//
// ============================= /

.site-main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: calc(100vh - 200px);
  margin: 0;
  text-align: center;
}